<% provide(:title, 'Edit Account') %>

<div class="row">
	<div class="span5">
		<h1 >Update your Account</h1>
		<p>Here you can edit the details of your account information.</p>
		<%= render 'shared/error_messages' %>
	</div>
	<div class="span3 offset2">
		<!-- Edit Email -->
		<h1 class="form-header"></h1>
		<h3>Email</h3>
		<div id="customer-email-display">
			<p><%= @customer.email %></p>
			<%= button_tag "Edit Email", type: 'button', class: 'btn btn-medium', id: 'edit-customer-email', onclick: "showHide('customer-email-form', 'customer-email-display');" %>
		</div>
		<div id="customer-email-form">
			<%= form_for(@customer) do |f| %>
				<%= f.label "New email" %>
				<%= f.text_field :email %>
				<%= f.label "Password" %>
				<%= f.password_field :old_password %>
				<%= f.submit "Save", class: 'btn btn-medium', id:"save-customer-email" %>
				<%= button_tag "Cancel", type: 'button', class: 'btn btn-medium', id: 'cancel-customer-email', onclick: "showHide('customer-email-display', 'customer-email-form');" %>
			<% end %>
		</div>
		<!-- Edit Password -->
		<h1 id="form-header"></h1>
		<h3>Password</h3>
		<div id="customer-password-display">
			<%= button_tag "Edit Password", type: 'button', class: 'btn btn-medium', id: 'edit-customer-password', onclick: "showHide('customer-password-form', 'customer-password-display');" %>
		</div>
		<div id="customer-password-form">
			<%= form_for(@customer) do |f| %>
				<%= f.hidden_field :email, value: @customer.email %>
				<%= f.label "New password" %>
				<%= f.password_field :password %>
				<%= f.label "Confirm new password" %>
				<%= f.password_field :password_confirmation %>
				<%= f.label "Old password" %>
				<%= f.password_field :old_password %>
				<%= f.submit "Save", class: 'btn btn-medium', id: 'save-customer-password' %>
				<%= button_tag "Cancel", type: 'button', class: 'btn btn-medium', id: 'cancel-customer-password', onclick: "showHide('customer-password-display', 'customer-password-form');" %>
			<% end %>
		</div>
	</div>
</div>