<tr>
	<td class="product-id"><%= product.id %></td>
	<td class="product-name"><%= link_to product.name, product %></td>
	<td class="product-category"><%= product.category %></td>
	<td class="product-price"><%= product.price %></td>
	<% if current_customer.admin? %>
		<td><%= link_to "Edit", edit_product_path(product) %></td>
		<td><%= link_to "Delete", "#" %></td>
	<% end %>
<tr>