<% provide(:title, @product.name) %>

<h1 class="center"><%= @product.name %></h1>

<% if current_customer && current_customer.admin? %>
	<div class="admin-product-dash center">
		<%= link_to "Edit Product", edit_product_path(@product), class: "btn btn-medium" %>
		<%= link_to "Add Color", new_product_color_path(@product), class: "btn btn-medium" %>
		<%= link_to "Add Detail", new_product_detail_path(@product), class: "btn btn-medium" %>
	</div>
<% end %>

<div class="row">
	<div class="span5 center">
		<div id="product-price">
			<h3>Price: $<%= @product.price%></h3>
		</div>
		<%= render 'products/gallery' %>
	</div>
	<div class="span5 offset2">
		<h3 class="center">Overview</h3>
		<p class="product-description center"><%= @product.description %></p>
		<%= render 'products/details' %>
	</div>
</div>