<% provide(:title, @product.name) %>

<%= link_to "Back", products_path, class: "btn btn-medium btn-back" %>

<h1 class="center"><%= @product.name %></h1>

<div class="row">
	<div class="span5 center">
		<div id="product-price">
			<h3>Price: $<%= @product.price%></h3>
		</div>
		<%= render 'products/gallery' %>
	</div>
	<div class="span5 offset2">
		<h3 class="center">Overview</h3>
		<p class="product-description"><%= @product.description %></p>
		<h4 class="center">Details</h4>
		<% if @product.details.first %>
			<ul class="product-details">
				<% @product.details.each do |deet| %>
					<li><%= deet.content %></li>
				<% end %>
			</ul>
		<% end %>
	</div>
</div>