<header class="container row-fluid">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner" id="navigation">
			<div class="container">
				<ul class="nav">
					<li><%= link_to image_tag("jackson-clear.png", size: "75x75", id: "logo"), root_path %></a></li>
					<li id="product-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Products<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><%= link_to "Jackets", "#" %></li>
							<li><%= link_to "Fleeces", "#" %></li>
							<li><%= link_to "Shirts", "#" %></li>
						</ul>
					</li>
				</ul>
				<ul class="nav pull-right">
					<% if signed_in? %>
						<li><%= link_to "Cart", "#" %>
						<li><%= link_to "Account", current_customer %></li>
						<li><%= link_to "Sign out", signout_path %></li>
					<% else %>
						<li><%= link_to "Sign in", signin_path %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</header>