<header class="row-fluid">
	<div class="navbar navbar-fixed-top" id="">
		<div class="navbar-inner" id="navigation">
				<ul class="nav">
					<!-- <li><%= link_to image_tag("jackson-clear.png", size: "55x55", id: "logo"), root_path %></li> -->
					<li class="navigation-item" id="logo"><%= link_to "JACKSON", root_path%></li>
					<li class="dropdown navigation-item">
						<a href="#" class="dropdown-toggle center" id="product-button" data-toggle="dropdown">Products<span class="caret"></span></a>
						<ul class="dropdown-menu" id="product-menu" role="menu" aria-labelledby="dropdownMenu">
							<li><%= link_to "Jackets", "#", class: "center" %></li>
							<li><%= link_to "Fleeces", "#", class: "center" %></li>
							<li><%= link_to "Shirts", "#", class: "center" %></li>
						</ul>
					</li>
				</ul>
				<ul class="nav pull-right">
					<% if signed_in? %>
						<% if current_customer.admin? %>
							<li class="navigation-item"><%= link_to "Admin", "#" %></li>
						<% else %>
							<li class="navigation-item"><%= link_to "Cart", "#" %></li>
						<% end %>
						<li class="navigation-item"><%= link_to "Account", current_customer %></li>
						<li class="navigation-item"><%= link_to "Sign out", signout_path, method: :delete %></li>
					<% else %>
						<li class="navigation-item center"><%= link_to "Sign in", signin_path %></li>
						<li class="navigation-item center"><%= link_to "Sign up", signup_path %></li>
					<% end %>
				</ul>
		</div>
	</div>
</header>